#register, #login{
    position: absolute;
    inset: 0;
    display: none;
}

.visible{
    display: block !important;
}

.page{
    display: flex;
    flex-direction: row;
}

.msg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg > p {
    background-color: #f54f8c;
    display: none;
    margin: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}